@tailwind base;
@tailwind components;

@font-face {
  font-family: 'TaigiFont';
  src: local('TaigiFont'),
    url(./assets/fonts/Iansui0.92-Regular.woff2) format('woff2');
}

@tailwind utilities;

.cell-animation {
  animation: revealCharCell linear;
  animation-duration: 0.15s;
}

@keyframes revealCharCell {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
